targets_dir: ~/recon/targets
amass_config_path: ~/amass_config.ini
targets:
  example:
    domains:
      - example.com
      - anotherexample.com
  example2:
    domains:
      - example2.com
      - anotherexample2.com
