CHROME_PATH=path/to/chrome
CLOUD_ENUM_PATH="$HOME/path/to/cloud_enum/cloud_enum.py"
SUBLIST3R_PATH="$HOME/path/to/sublist3r/sublist3r.py"
SUBDOMAINIZER_PATH="$HOME/path/to/subdomainizer/SubDomainizer.py"
S3SCANNER_PATH="$HOME/path/to/s3scanner/s3scanner.py"
XSSTRIKE_PATH="$HOME/path/to/s0md3v/xsstrike/xsstrike.py"
NUCLEI_TEMPLATES_PATH="$HOME/path/to/nuclei-templates"
SLACKBOT_TOKEN="xoxb-abcdef123456"
SLACK_ALERT_URLS_CHANNEL_ID="ABCDEF123456"
SLACK_ALERT_JS_FILES_CHANNEL_ID="ABCDEF123456"
SLACK_ALERT_XSS_CHANNEL_ID="ABCDEF123456"
