CHROME_PATH=path/to/chrome
CLOUD_ENUM_PATH="$HOME/tools/cloud_enum/cloud_enum.py"
SUBLIST3R_PATH="$HOME/tools/sublist3r/sublist3r.py"
SUBDOMAINIZER_PATH="$HOME/tools/subdomainizer/SubDomainizer.py"
S3SCANNER_PATH="$HOME/tools/s3scanner/s3scanner.py"
NUCLEI_TEMPLATES_PATH="$HOME/tools/nuclei-templates"
SLACKBOT_TOKEN="xoxb-abcdef123456"
SLACK_NEW_URLS_CHANNEL_ID="ABCDEF123456"
SLACK_NEW_JS_FILES_CHANNEL_ID="ABCDEF123456"
