# Path to targets/ directory containing your targets
# Each target should be a directory with at least a domains.txt to get things started
# The targets folder should look something like this:
# targets/
#   tesla/
#       └── domains.txt
#   shopify/
#       └── domains.txt
TARGETS_DIR="$HOME/paths/to/targets"

# Tooling paths
CHROME_PATH=path/to/chrome
CLOUD_ENUM_PATH="$HOME/path/to/cloud_enum/cloud_enum.py"
SUBLIST3R_PATH="$HOME/path/to/sublist3r/sublist3r.py"
SUBDOMAINIZER_PATH="$HOME/path/to/subdomainizer/SubDomainizer.py"
S3SCANNER_PATH="$HOME/path/to/s3scanner/s3scanner.py"
XSSTRIKE_PATH="$HOME/path/to/s0md3v/xsstrike/xsstrike.py"
NUCLEI_TEMPLATES_PATH="$HOME/path/to/nuclei-templates"
SLACKBOT_TOKEN="xoxb-abcdef123456"
SLACK_ALERT_GENERAL_CHANNEL_ID="ABCDEF123456"
SLACK_ALERT_URLS_CHANNEL_ID="ABCDEF123456"
SLACK_ALERT_JS_FILES_CHANNEL_ID="ABCDEF123456"
SLACK_ALERT_XSS_CHANNEL_ID="ABCDEF123456"

# Reset
Color_Off='\033[0m'       # Text Reset

# Regular Colors
export Black='\033[0;30m'        # Black
export Red='\033[0;31m'          # Red
export Green='\033[0;32m'        # Green
export Yellow='\033[0;33m'       # Yellow
export Blue='\033[0;34m'         # Blue
export Purple='\033[0;35m'       # Purple
export Cyan='\033[0;36m'         # Cyan
export White='\033[0;37m'        # White

# Bold
export BBlack='\033[1;30m'       # Black
export BRed='\033[1;31m'         # Red
export BGreen='\033[1;32m'       # Green
export BYellow='\033[1;33m'      # Yellow
export BBlue='\033[1;34m'        # Blue
export BPurple='\033[1;35m'      # Purple
export BCyan='\033[1;36m'        # Cyan
export BWhite='\033[1;37m'       # White