#!/bin/bash
# Scans all targets in the targets directory

set -e

includes/init.sh

for target in *; do 
    [[ -d $target ]] || continue

    target_dir="$TARGETS_DIR/$target"

    # Add your tooling on all of your targets here
    # domains_file="$target_dir/domains.txt"
    # while IFS= read -r domain; do
    #     [[ ! -z $domain ]] || continue
    #     enumerate_subdomains $domain $target_dir
    # done < "$domains_file"

    # probe_subdomains $target_dir
    # cloud_bucket_enum $target_dir
    # crawl_urls $target_dir
    # crawl_js $target_dir
    # take_screenshots $target_dir

    find . -size 0 -delete
done
