#!/bin/bash
# Scans all targets in the targets directory

set -e

includes/init.sh

for target in *; do 
    [[ -d $target ]] || continue

    target_dir="$TARGETS_DIR/$target"

    # Add your tooling on all of your targets here
    # enumerate_subdomains $domain $target_dir
    # probe_subdomains $target_dir
    # cloud_bucket_enum $target_dir
    # crawl_urls $target_dir
    # crawl_js $target_dir
    # take_screenshots $target_dir

    find . -size 0 -delete
done
